html {
    background-color: #6ACCCB;
}

.App-title {
    color: white;
    font-size: 5em;
}

.regularCol {
    padding: 0;
}

.text {
    color: white;
    font-weight: normal;
    font-size: 1.75em;
}

.button {
    background-color: #434343 !important;
    color: white !important;
    border-color: #434343 !important;
    box-sizing: border-box !important;
    width: 100%;
}

.inactive {
    display: none !important;
}

.active {
    display: block;
}

.error {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}

.loading {
    font-size: 1.5em;
    color: yellow;
    font-weight: bold;
}

.success {
    color: #6DFD6F;
    font-size: 1.5em;
    font-weight: bold;
}
