.text-left > .text {
    text-align:left !important;
}
.text-padding {
    padding-left: 15px;
    padding-right: 15px;
}
.questionText {
    font-weight: bold;
}
.categoryText {
    font-size: 1.5em;
    margin-bottom: 0;
}